.eventContainer{
    background-color:rgb(221, 221, 221);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 200px;
}

.editEventPage{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2ex;
    border-top: rgb(230, 230, 230) 2px solid;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
    background-color: white;
}

#h1_edit{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 0.5%;
    font-size: 30px;
    text-align: left;
    line-height: 50px;
}

.MuiButton-root.edit_Event_button {
    position: relative;
    background-color: #d0d4d8;
    width: 100px;
    display: display-internal;
    margin-top: 25px;
    height: 40px;
    margin-right: 10px;
}

.editEventPageButton{
    text-align: center;
}

.editEventLabel{
    display: block;
}

.editEventInput{
    width: 50%;
}

#editEventContainer{
    margin-left: 10%;
}

#editTitle{
    margin-left: 10%;
}