#FormContainer{
    background-color: rgb(221, 221, 221);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 200px;
}

.create_Booth_button{
    width: 100px;
    height: 30px;
    margin: 30px;
    font-size: 18px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.create_Booth_button:hover {
    background-color: rgb(104, 104, 104);
    color: white;
    font-weight: 530;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}

.create_Booth_button:active{
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    font-weight: 530;
    font-size: 14px;
}